svg {
    margin: 1em;
}
circle,
path {
    stroke: #DDD;
    stroke-width: 1;
    fill: #FFF;
}
polyline, polygon {
    fill: none;
    vector-effect: non-scaling-stroke;
}
.grid {
    stroke: #DDD;
    stroke-dasharray: 1 1;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
}
.axes {
    stroke: #000;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
}
text {
    fill: #000;
}
